In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\cemre\\Desktop\\genes_49.csv")
df.head(10)

,Unnamed: 0,PTAFR,PYGL,APOBEC3G,LY6E,SIRPA,ITGB3,IGF1R,DGAT2,IL1RAP,...,CR1,GTF2IP4,CD38,MAML3,CMTR1,APOL3,TSPAN2,H2BC6,H3C12,H3C3
0,KD1,0.440189,-0.130133,-0.566502,0.018539,-0.148853,-0.655902,-0.523488,0.148853,-0.359842,...,-0.481421,0.359842,-0.750885,-0.055643,-0.055643,0.018539,-0.379692,0.544869,0.544869,0.523488
1,KD2,0.055643,0.074221,0.523488,-0.359842,0.481421,-0.167625,0.800987,0.186456,0.224325,...,-0.243377,0.000000,1.160996,0.523488,0.148853,0.853185,0.440189,0.281756,0.340133,0.460707
2,KD3,-0.262518,1.026176,-0.610592,-1.733881,0.588404,0.000000,0.655902,-0.111459,-0.055643,...,1.125364,1.026176,0.074221,0.907819,-0.679066,-0.399693,1.160996,-1.321069,-1.041997,-1.321069
3,KD4,0.111459,0.460707,-0.523488,1.125364,0.074221,-0.726531,0.205354,0.853185,1.026176,...,1.237070,-0.419855,-0.775693,0.633085,0.726531,-0.301099,0.800987,-0.379692,-0.502343,-0.566502
4,KD5,0.037085,-0.566502,-0.055643,0.460707,0.186456,1.237070,0.359842,-0.359842,-0.544869,...,-0.523488,-0.074221,0.610592,0.853185,0.186456,0.481421,-0.148853,0.301099,0.502343,0.359842
5,KD6,2.260761,2.260761,0.399693,0.037085,2.260761,0.679066,1.824027,2.260761,0.907819,...,1.366803,2.612709,-0.419855,1.366803,0.243377,0.301099,1.125364,0.775693,1.125364,1.026176
6,KD7,-0.775693,-0.907819,0.018539,-0.523488,-0.750885,0.702601,-0.281756,-0.853185,-0.936176,...,-1.125364,-0.481421,0.907819,-0.481421,-0.281756,0.243377,-0.111459,0.018539,-0.037085,0.205354
7,KD8,0.566502,0.907819,-0.655902,-1.321069,0.936176,2.260761,0.702601,1.125364,0.419855,...,0.419855,0.907819,0.440189,0.544869,-0.880174,-0.205354,0.995280,0.148853,-0.074221,0.148853
8,KD9,0.523488,0.481421,-0.965306,-1.237070,1.237070,-0.750885,1.524783,0.502343,0.936176,...,1.415589,0.502343,0.243377,1.932023,-1.198166,-1.524783,0.419855,-0.853185,-0.186456,-0.167625
9,KD10,2.068794,2.068794,0.679066,-0.186456,1.415589,1.321069,1.733881,2.612709,1.415589,...,1.824027,1.932023,-0.399693,2.260761,0.523488,-0.379692,1.467999,-0.588404,-0.866600,-0.523488

In [3]:
df.shape

(135, 50)

In [4]:
df.describe()

,PTAFR,PYGL,APOBEC3G,LY6E,SIRPA,ITGB3,IGF1R,DGAT2,IL1RAP,MYADM,...,CR1,GTF2IP4,CD38,MAML3,CMTR1,APOL3,TSPAN2,H2BC6,H3C12,H3C3
count,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,...,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,1.350000e+02,135.000000,135.000000,135.000000
mean,-2.878356e-16,-2.201942e-16,-1.796917e-16,1.716166e-07,-1.743975e-16,-1.792805e-16,-2.458938e-16,-1.581040e-16,-1.576928e-16,-1.348715e-16,...,-2.364364e-16,-1.784581e-16,-1.570760e-16,-5.570104e-07,6.679285e-07,-1.925415e-16,-3.742726e-07,0.000146,0.000009,0.000002
std,9.925155e-01,9.925155e-01,9.925155e-01,9.925148e-01,9.925155e-01,9.925155e-01,9.925155e-01,9.925155e-01,9.925155e-01,9.925155e-01,...,9.925155e-01,9.925155e-01,9.925155e-01,9.925102e-01,9.925129e-01,9.925155e-01,9.925145e-01,0.992125,0.992497,0.992509
min,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,...,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709e+00,-2.612709,-2.612709,-2.612709
25%,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,...,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-6.674844e-01,-0.667484,-0.661759,-0.667484
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,-9.269207e-03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.009269
75%,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,...,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,6.674844e-01,0.667484,0.667484,0.667484
max,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,...,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709e+00,2.612709,2.612709,2.612709

In [5]:
df.columns

Index(['Unnamed: 0', 'PTAFR', 'PYGL', 'APOBEC3G', 'LY6E', 'SIRPA', 'ITGB3',
       'IGF1R', 'DGAT2', 'IL1RAP', 'MYADM', 'TMCO3', 'MPZL1', 'RFLNB',
       'IFI44L', 'PPBP', 'MASTL', 'PGAP1', 'CUL1', 'GNAQ', 'IMPA2', 'TAGLN2',
       'PI4K2B', 'KLHL2', 'SIGLEC10', 'BCL6', 'GIMAP6', 'SORL1', 'F13A1',
       'TBC1D14', 'NLRP12', 'GALM', 'INPP5A', 'ISG15', 'NIBAN1', 'OAS2',
       'ALOX5', 'RTN3', 'PRKAR2B', 'MANSC1', 'CR1', 'GTF2IP4', 'CD38', 'MAML3',
       'CMTR1', 'APOL3', 'TSPAN2', 'H2BC6', 'H3C12', 'H3C3'],
      dtype='object')